input {
  width: 280px;
  height: 30px;
  margin-top: 30px;
  font-size: 28px;

  margin-left: calc(50% - 140px);
  display: block;
}

button {
  margin-top: 100px;
  width: 85px;
  height: 45px;
  margin-left: calc(50% - 50px);
  font-size: 28px;
}